<body>
<h1 style="color:#6B8E23;" class="text-center"> <strong>Lista de Couches</strong></h1>
<p></p>
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
<ul class="media-list">
<li class="media">
<% Couch.all.each do |couch| %>

  <div class="media"> 
  	<!-- VER href=# entre a y class -->
      <div class="pull-left">
   	  	<img class="img-rounded" class="media-object" src= <%= couch.imagen %>  alt="imagen" style="width:200px;height:150px" >
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= couch.nombre %> <small><i> <%= couch.lugar %></i></small></h4>
        <p> <%= couch.descripcion %> </p>
        <p> Capacidad: <%= couch.capacidad %></p>
        <p> Puntuacion: <%= couch.puntuacion %></p>
        <% if user_signed_in? then %>
          <button class="btn btn-success btn-xs" type="button">
            <%= link_to 'Ver más', couch_path(couch.id), class: "btn btn-success btn-xs" %>
          </button>
        <% end %>
      </div>
  </div>
<% end %>
</li>
</ul>
</div>
</div>
</body>
  <!-- <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
      Ver más
     </button>   
     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labellebdy="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" id="myModalLabel">Hola este es mi modal waacho</h1>
          </div>
        </div>
      </div>
    </div>
-->