

<div class="row">
  
  <div class="col-md-6 col-md-offset-3">
    <h1> Búsqueda </h1>
    <%= form_tag couches_path , method: :get do %>
        <%= label_tag :lugar %>
        <%= text_field_tag :lugar %>
        <%= label_tag :capacidad %>
        <%= number_field_tag :capacidad, nil, within: 1...101 %>
        <%= label_tag :puntuacion %>
        <%= number_field_tag :puntuacion, nil, within: 1...6 %>   
        <%= label_tag :tipo %>
        <%= select_tag( :couch_type_id, options_for_select(CouchType.all.collect { |c| [ c.nombre, c.id]}), {include_blank: 'Todos'}) %>
       <%= submit_tag("Buscar") %> 

     <%end%>


  </div>

</div>

<h1 style="color:#6B8E23;" class="text-center"> <strong>Lista de Couches</strong></h1>
<p></p>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
<ul class="media-list">
<li class="media">

<% @couches.each do |couch| %>

  <div class="media"> 
  	<!-- VER href=# entre a y class -->
      <div class="pull-left">
   	  	<img class="img-rounded" class="media-object" src= <%= couch.imagen %>  alt="imagen" style="width:200px;height:150px" >
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= couch.nombre %> <small><i> <%= couch.lugar %></i></small></h4>
        <p> <%= couch.descripcion %> </p>
        <p> Capacidad: <%= couch.capacidad %></p>
        <p> Puntuacion: <%= couch.puntuacion %></p>
        <% if user_signed_in? then %>

         <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
      Ver más
     </button>   
     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labellebdy="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" id="myModalLabel">Hola este es mi modal waacho</h1>
          </div>
        </div>
      </div>
    </div>
      
        <% end %>
      </div>
  </div>
<% end %>
</li>
</ul>
</div>
</div>
