<body>
<center>
    <h1 style="color:#6B8E23;" class="text-center"> 
    <% if @couch.user.esPremium %>
      <img src="goldGreen.png" class ="img-rounded" alt="imagen" style="width:50px;height:50px">
    <% end %>
    <strong><%= @couch.nombre %> </strong></h1>
    <h4> <i> <%= @couch.lugar %></i></small></h4>  
 
  <div class="row">
  <div class="col-md-6">
  <img src= <%= @couch.imagen %> class="img-rounded" alt="imagen" style="width:300px;height:250px" >
  <p></p>
   <!-- <p></p>
    <p>
    <button class="btn btn-default btn-sm" type="button">
      <%= link_to 'Atrás', couches_path, class: "btn-default" %>
       </button>
    <button class="btn btn-default btn-sm" type="button">
    <%= link_to 'Enviar solicitud', couches_path, class: "btn-default" %>
     </button>
  </p> 
-->
  </div>
  <div class="col-md-6">
   <p></p>
    <p class="text-left"> <strong>Descripción:</strong> <%= @couch.descripcion %> </p>
    <p class="text-left" > <strong>Capacidad:</strong> <%= @couch.capacidad %></p>
    <p class="text-left" > <strong>Puntuacion: </strong> <%= @couch.puntuacion %> </p>
    <p class="text-left" > <strong>Tipo de Couch: </strong> <%= @couch.couch_type.nombre %> </p>
    <p class="text-left"> <strong>Propietario:</strong> <%= @couch.user.nombre %> <%= @couch.user.apellido%> </p>

    <p class="text-left" > <%= image_tag "contacto.png"%>  <strong>Contacto: </strong><%= @couch.user.email %></p>
    <p class = "text-left">
      <button class="btn btn-default btn-sm" type="button">
        <%= link_to 'Atrás', :back, class: "btn-default" %>
      </button>  
      <% if ((user_signed_in?) && (current_user != @couch.user)) then %>
      <!-- Se debe analizar si el usuario es el propietario del couch!!!!!!!!!!!!!!!! -->
        <button class="btn btn-default btn-sm" type="button">
          <%= link_to 'Reservar', new_reserva_path, class: "btn-default" %>
        </button>
      <%end%>
    </p>
    

  </div>
  </div>
  </br>
  </br>
  </br>
    <div class="row">
   <div class="col-md-6 col-md-offset-3"> 
  <h3 class="media-heading" style="color:#6B8E23;"><strong> Consultas </strong></h3>
   <em class="text-left"><small> Las consultas publicadas serán respondidas por el propietario del couch a la brevedad. Aquel usuario que incluya en sus mensajes algún comentario violatorio del reglamento será eliminado e inhabilitado para volver a comentar. Enviar un comentario implica la aceptación del Reglamento.</small></em>
    </br>
    </br>
  </br>
        <ul class="media-list">
        <li class="media">
        <div class="media"> 
          <div class="pull-left">
    
            <img src= <%= User.find(1).foto %> class = "img-circle" alt="imagen" style="width:50px;height:50px">
             <p> <%= User.find(1).nombre %> <%= User.find(1).apellido %> <i><small><%= User.find(1).nombreUsuario %></small></i></p> 
         </div>
        <div class="media-body">
          </br>
          <p class="text-left"> Hola, se permiten mascotas en este couch? </p>
        </div> 

        <div class="media"> 
          </br>

        <div class="pull-left">
    
           <img src= <%= @couch.user.foto %> class = "img-circle" alt="imagen" style="width:50px;height:50px">
          <p> <%= @couch.user.nombre %> <%= @couch.user.apellido %> <i><small><%= @couch.user.nombreUsuario %></small></i></p> 
        </div>
        <div class="media-body">
    </br>
        <p class="text-left"> No, no se permiten mascotas en este couch. </p>


    </div>
  </li>
</ul>
        
      </div>
    </div>
</center>
</body>