<body>
<center>
    <h1 style="color:#6B8E23;" class="text-center"> 
    <strong><%= @couch.nombre %> </strong></h1>
    <h4> <i> <%= @couch.lugar %></i></small></h4>  
 
  <div class="row">
  <div class="col-md-6">
  <img src= <%= @couch.imagen %> class="img-rounded" alt="imagen" style="width:300px;height:250px" >
  <p></p>
   <!-- <p></p>
    <p>
    <button class="btn btn-default btn-sm" type="button">
      <%= link_to 'Atrás', couches_path, class: "btn-default" %>
       </button>
    <button class="btn btn-default btn-sm" type="button">
    <%= link_to 'Enviar solicitud', couches_path, class: "btn-default" %>
     </button>
  </p> 
-->
  </div>
  <div class="col-md-6">
   <p></p>
    <p class="text-left"> <strong>Descripción:</strong> <%= @couch.descripcion %> </p>
    <p class="text-left" > <strong>Capacidad:</strong> <%= @couch.capacidad %></p>
    <p class="text-left" > <strong>Puntuacion: </strong> <%= @couch.puntuacion %> </p>
    <p class="text-left" > <strong>Tipo de Couch: </strong> <%= @couch.couch_type.nombre %> </p>
    <p class="text-left"> <strong>Propietario:</strong> <%= @couch.user.nombre %> <%= @couch.user.apellido%> </p>

    <p class="text-left" > <%= image_tag "contacto.png"%>  <strong>Contacto: </strong><%= @couch.user.email %></p>
    <p class = "text-left">
      <button class="btn btn-default btn-sm" type="button">
        <%= link_to 'Atrás', :back, class: "btn-default" %>
      </button>  
      <% if ((user_signed_in?) && (current_user != @couch.user)) then %>
      <!-- Se debe analizar si el usuario es el propietario del couch!!!!!!!!!!!!!!!! -->
        <button class="btn btn-default btn-sm" type="button">
          <%= link_to 'Reservar', new_reserva_path(:couch_id => @couch.id), class: "btn-default" %>
        </button>
      <%else%>
        <% if ((user_signed_in?) && (current_user == @couch.user)) then %>
        <button class="btn btn-default btn-sm" type="button">
          <%= link_to 'Mis reservas', couch_reservas_path(:couch_id => @couch.id), class: "btn-default" %>
        </button>
        <% end %>
      <%end%>
    </p>
    

  </div>
  </div>
  </br>
  </br>
  </br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3"> 
      <h3 class="media-heading" style="color:#6B8E23;"><strong> Consultas </strong></h3>
      <em class="text-left"><small> Las consultas publicadas serán respondidas por el propietario del couch a la brevedad. Aquel usuario que incluya en sus mensajes algún comentario violatorio del reglamento será eliminado e inhabilitado para volver a comentar. Enviar un comentario implica la aceptación del Reglamento.</small></em>
      </br>
      </br>
      </br>
      <% @couch.consultas.all.each do |consulta| %>
        <ul class="media-list">
        <li class="media">
        <div class="media"> 
          <div class="pull-left">
            <img src= <%= User.find(consulta.user_id).foto %> class = "img-circle" alt="imagen" style="width:50px;height:50px">
            <p> <%= User.find(consulta.user_id).nombreUsuario %></p> 
          </div>
          
          <div class="media-body">
            </br>
            <p class="text-left"> <%= consulta.pregunta %> <small><em><%= consulta.fechaPregunta.day %>/<%= consulta.fechaPregunta.month %>/<%= consulta.fechaPregunta.year %> <%= consulta.fechaPregunta.strftime("%I:%M%p") %></em></small></p>
          </div>

          <% if (consulta.respuesta != nil) %>
            <div class="media"> 
              </br>
              <div class="pull-left">
                <img src= <%= @couch.user.foto %> class = "img-circle" alt="imagen" style="width:50px;height:50px">
                <p> <%= @couch.user.nombreUsuario %> </p> 
              </div>
              <div class="media-body">
              </br>
                <p class="text-left"> <%= consulta.respuesta %> <small><em><%= consulta.fechaRespuesta.day %>/<%= consulta.fechaRespuesta.month %>/<%= consulta.fechaRespuesta.year %> <%= consulta.fechaRespuesta.strftime("%I:%M%p") %></em></small></p>
              </div>
            </div>
          <% else %>
            <% if(current_user == @couch.user) %>
              <button class="btn btn-default btn-sm pull-left" type="button">
                <%= link_to 'Responder', edit_consulta_path(consulta.id), class: "btn-default" %>
              </button>
            <% end %>
          <% end %>
        </div>
        </li>
        </ul>
      <% end %>
      <% if(current_user != @couch.user) %>
        <button class="btn btn-default btn-sm pull-left" type="button">
            <%= link_to 'Consultar', new_consulta_path(:couch_id => @couch.id), class: "btn-default" %>
        </button>
      <% end %>
    </div>
  </div>
</center>
</body>