<body>
<center>
    <h1 style="color:#6B8E23;" class="text-center"> <strong><%= @couch.nombre %> </strong></h1>
    <h4> <i> <%= @couch.lugar %></i></small></h4>  
 
  <div class="row">
  <div class="col-md-6">
  <img src= <%= @couch.imagen %> class="img-rounded" alt="imagen" style="width:300px;height:250px" >
  <p></p>
   <!-- <p></p>
    <p>
    <button class="btn btn-default btn-sm" type="button">
      <%= link_to 'Atrás', couches_path, class: "btn-default" %>
       </button>
    <button class="btn btn-default btn-sm" type="button">
    <%= link_to 'Enviar solicitud', couches_path, class: "btn-default" %>
     </button>
  </p> 
-->
  </div>
  <div class="col-md-6">
   <p></p>
    <p class="text-left"> <strong>Descripción:</strong> <%= @couch.descripcion %> </p>
    <p class="text-left" > <strong>Capacidad:</strong> <%= @couch.capacidad %></p>
    <p class="text-left" > <strong>Puntuacion: </strong> <%= @couch.puntuacion %> </p>
    <p class="text-left" > <strong>Tipo de Couch: </strong> <%= @couch.couch_type.nombre %> </p>
    <p class="text-left"> <strong>Propietario:</strong> <%= @couch.user.nombre %> <%= @couch.user.apellido%> </p>

    <p class="text-left" > <%= image_tag "contacto.png"%>  <strong>Contacto: </strong><%= @couch.user.email %></p>
    <p class = "text-left">
      <button class="btn btn-default btn-sm" type="button">
        <%= link_to 'Atrás', couches_path, class: "btn-default" %>
      </button>  
      <% if user_signed_in? then %>
        <button class="btn btn-default btn-sm" type="button">
          <%= link_to 'Reservar', new_reserva_path, class: "btn-default" %>
        </button>
      <%end%>
    </p>
    

  </div>
  </div>
</center>
</body>