<container>
<h2 class="tipoRegistroCentro">Registrar datos para ser Premium </h2>

<p class="tipoRegistroCentro"> Disfrute de los grandes beneficios de tener una cuenta Premium!!!</p>
<p class="tipoRegistroCentro"> Por un precio único tiene la posibildad de que sus couchs tengan prioridad ante la búsqueda.</p>
<p class="tipoRegistroCentro"> Recuerde que el pago se realiza una sola vez y.. SOS PREMIUM POR SIEMPRE!!!!!!</p>
<%= form_tag '/premiums', method: :get do %>
	<div class="row">	

		<div class="col-md-3 col-md-offset-3" >


		<%= label_tag :nombre, "Titular de la tarjeta" %><br />
		<%= text_field_tag :nombre, "", :pattern => '^[a-zA-Z ]+', title: 'Se permiten solo letras', :required => "required"%>
		
		<%= label_tag :numeroTarjeta, "Numero de la tarjeta" %><br />
		<%= text_field_tag :numeroTarjeta, "", placeholder: '16 números, sin guión', :pattern => '^\d{16}$', title: 'Formato inválido', :required => "required" %>
		<br />
		<%= label_tag :tarjeta, "Tarjeta" %><br />
		<%= select_tag("priority", options_for_select([['Visa', '1'],
	                 ['Mastercard', '2'],['Credencial','3'],['American Express','4']], '4')) %>
		</div>
	
		<div class="col-md-3 " >
	
		<%= label_tag :codigoSeguridad, "Codigo de seguridad" %><br />
		<%= password_field_tag :codigoSeguridad, "", :required => "required", :pattern => '^\d{3}$', title: 'Formato inválido. Deben ser sólo 3 números' %>

		<%= label_tag :fechaVencimiento, "Fecha de vencimiento" %><br />
		<%= date_select :fechaVencimiento, :fechaVencimiento, order: [:month, :year], use_month_numbers: true, :start_year => Time.now.year, :end_year => Time.now.year + 10 %>
		<br />
		<br />
		<%= submit_tag "Pagar", class: 'btn btn-default btn-sm' %>
		<%= link_to "Cancelar", :back, class: 'btn btn-default btn-sm' %>
		</div>

	</div>
</container>
	
<% end %>

