<div class="container">
	<h1 style="color:#6B8E23;" class="text-center"> Realizar reserva </h1>
	<br>
	<%= form_for @reserva do |f| %>
		<p class="notice text-center" style="color:red"><strong><%= notice %></p>
  		<div class="row">	
  			<div class="col-md-4 col-md-offset-4" >

          		<%= f.label :inicio, 'Fecha de entrada', class: 'control-label'%>
          		<%= f.date_select :inicio, :order => [:day, :month, :year], :start_year => Time.now.year, :end_year => Time.now.year+1 %>
  				<% if @reserva.errors.messages[:inicio] && !@reserva.errors.messages[:inicio].empty? %> 
					<p style="color:red"><strong>"La fecha de entrada está ocupada"</p>
				<% end %>

				<%= f.label :inicio, 'Fecha de salida', class: 'control-label'%>
				<%= f.date_select :inicio, :order => [:day, :month, :year], :start_year => Time.now.year, :end_year => Time.now.year+1 %>
	  			<% if @reserva.errors.messages[:fin] && !@reserva.errors.messages[:fin].empty? %> 
					<p style="color:red"><strong>"La fecha de salida esta ocupada"</p>
				<% end %>

  			</div>
  		</div>
		<br>
		<div class="row">
			<div class="col-md-3 col-md-offset-4">
				<%= f.submit "Reservar", class: 'btn btn-success' %>
				<%= link_to "Cancelar", couch_path(@reserva.couch), class: 'btn btn-success' %>
			</div>
		</div>
  		
  	</div>
<% end %>
</div>
