<center>
	<div class="container">
	<h1 style="color:#6B8E23;" class="text-center">Configuración<h1>
	
		<%= link_to "Listado de tipos de Couch", couch_types_path, class: 'btn btn-default' %>
		<br>
		<%= link_to "Agregar un tipo de Couch", new_couch_type_path, class: 'btn btn-default' %>
		<br>
		<%= link_to "Cambiar precio de la cuenta premium", new_couch_type_path, class: 'btn btn-default' %>
		<br>
		<%= link_to "Cambiar edad mínima", new_couch_type_path, class: 'btn btn-default' %>
		<br>
		<%= link_to "Ver usuarios entre dos fechas", configurations_seleccionfechas_path, class: 'btn btn-default' %>
	</div>
</center>



