<div class= "container">
	<h1 style="color:#6B8E23;" class="text-center"> Cambiar el nombre del tipo de Couch</h1>

	<%= form_for(@type) do |f| %>
		<div class="row">
				
			<div class="col-md-4 col-md-offset-4">
				<%= f.label :nombre, 'Nombre',class: 'contol-label'%>
			</div>
			<div class="col-md-4 col-md-offset-4">
				<%= f.text_field :nombre, class: 'form-control', label: 'Nombre', placeholder: 'Ingrese el nuevo nombre del tipo de Couch'%>
			</div>
	
			<div class="col-md-4 col-md-offset-4">
				<br>
				<%= f.submit "Cambiar nombre", class: 'btn btn-success btn-sm' %>			
				<%= link_to "Cancelar", couch_types_path, class: 'btn btn-success btn-sm' %>
			</div>
		</div>
	<%end%>
</div>