<!DOCTYPE html>
<html>
<head>
  <title>CouchInn</title>
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<!--<body class="bgimage"> -->
<body>
	<div class="row trans bgcolor" >
		<div class="col-md-6 col-md-offset-3" >
			
		</div> 
	</div> 
	<!--<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p> -->
	<%= render 'layouts/header' %>
	<%= yield %>
		
</body>

</html>
